[DEFAULT]
debug = True
reclaim_instance_interval = 604800
[api]
max_limit = 2000

[ruijie]
rj_instance_launch_cpu_limit = 95 
rj_instance_launch_ram_limit = 95
rj_cpu_regulatory_factor = 0.05
rj_ram_regulatory_factor = 0.05
rj_ha_migrate = 300